.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.audio-player-container {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
}
